@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');
*{
    /* margin: 0; */
    /* padding: 0; */
}
body{
    font-size: 25px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background: whitesmoke;
    color: hsl(240, 100%, 27%);  
}

p{
    color: rgba(0,0,0,0.5);
    width: 50%;
    border:1px dashed rgb(255, 0, 0);
    
}
h1{
    border: 1px solid hsl(0, 0%, 50%);
}
h3{
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 100%, 50%);
}

a:visited{
    color: rgb(238, 130, 238);
}
a:hover ,a:focus{
    color: hsla(240, 68%, 55%, 0.35);
    background-color: gold;
    /* color: chocolate; */
    /* background-color: aquamarine; */
}

a:active{
    color: rgb(138, 44, 226);
} 


/* Css List Styling */
ol{
    /* list-style-type:initial; */
    /* padding: 0; */
    list-style-position: inside;
    text-align: center;
}
ul{
    list-style-type: square;
    /* list-style-image: url('../images/index.png'); */

}

ol li:nth-child(2){
    color: aqua;
}

::marker{
    color: turquoise;
}


